


<div class="container">
    <div class="row">
        <!-- Card Projects -->
        <div class="col-md-6 col-md-offset-3">
            <div class="card">
             
                
                <div class="card-content">
                    <p> Email:   <%= @employee.email %></p>
                </div>
               

                   

                <div class="card-action">
                    <%= link_to 'Edit', edit_employee_path(@employee) %>
                    <%= link_to 'Back', employee_path%>
                    
                </div>
            </div>
        </div>
    </div>
</div>
