<% if user_signed_in? %>
 <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
                
                    
                  <li class="mt">
                      <a class="active" href="index.php">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li class="mt">
                      <a class="" href="teams-dashboard.php">
                          <i class="fa fa-users"></i>
                          <span>Teams</span>
                      </a>
                  </li>
                 
                    <li class="mt">
                      <a class="" href="insights.php">
                          <i class="fa fa-calendar"></i>
                          <span>Insights</span>
                      </a>
                  </li>
                    <li class="mt">
                      <a class="" href="settings.php">
                          <i class="fa fa-gears"></i>
                          <span>Settings</span>
                      </a>
                  </li>
                    
                    
                    


              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>


<% end%>