<% if signed_in? %>
<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
      <li class="sidebar_overview">Hello</li>
      
        <li class="sidebar_personal_purchases"></li>

      <!-- Only the COO, the operations chief, will be able to link his company to a bank account. -->
  
        <li class="sidebar_stripe_settings"></li>

    </ul>

    <ul class="nav nav-sidebar">
      <!-- company_id is from the sessions_helper.id -->
    
        <li class="sidebar_company_info">TEst1</li>
        <li class="sidebar_company_people">Test2</li>
        <li class="sidebar_purchases">test 3</li>
    
      
          <li class="sidebar_post_items_for_sale">Post</li>
          <li class="sidebar_posted_items">Posted</li> 
          <li class="sidebar_orders">Requests</li>
     
      
  </ul>

</div>
<% end %>